﻿@charset "utf-8";
/*

   Date:   10/12/2017
   Final Project
   Professor Harrington	
   ISYS 288
   Filename: form.css

*/

@import url(//fonts.googleapis.com/css?family=Economica:400,700|Neucha:400,700);

body, div, p, ul, ol, li, blockquote, hr,
dl, dt, dd,
form, input, textarea, button,
table, thead, tbody, tr, td, th,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

article, aside,
footer, header, hgroup,
nav, section {
    display: block;
}

body {
    background: #F3E4C7 url(images/bg-body.jpg) repeat;
    font: normal 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #231F20;
}

:focus {
    outline-color: #E3C73C;
}

::-moz-selection {
    background: #E3C73C;
    text-shadow: #fff 1px 1px 1px;
}

::selection {
    background: #E3C73C;
    text-shadow: #fff 1px 1px 1px;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Economica',sans-serif;
    color: #002D99;
    margin: 20px 0;
    text-transform: uppercase;
}
/*
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  text-decoration:none;
  color:inherit;
}
*/
h1 {
    font-size: 36px;
    margin-top: 0;
    line-height: 40px;
}

h2, h3 {
    font-size: 20px;
    margin: 30px 0 20px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    color: #231F20;
    margin-bottom: 10px;
}

h4, h5, h6 {
    font-size: 12px;
}

p, ul, ol, dl {
    margin-bottom: 20px;
}

    ul li, ol li {
        margin-bottom: 10px;
    }

    ul ol, ul ul,
    ol ol, ol ul {
        margin: 10px 0;
    }

ul,
ol {
    padding-left: 60px;
}

ul {
    list-style: square;
}


a {
    color: #002D99;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    transition: color .1s linear;
}

    a:hover {
        color: #2A85C4;
        text-decoration: underline;
    }

img {
    border: none;
}

form {
}

input, textarea {
    margin: 0;
    border: 1px solid #7FA4B5;
    background: #fff none no-repeat;
    border-radius: 0;
}

input {
    line-height: 28px;
    height: 28px;
    padding: 0 9px;
}

textarea {
    padding: 4px 9px;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}


#top,
#end {
    padding: 0 10px;
    width: 970px;
    margin: 0 auto;
    background: url(images/bg-headings.jpg);
    background: rgba(255,255,255,.4);
    clear: both;
}

    #top a,
    #end a {
        color: #231F20;
    }

        #top a:hover,
        #end a:hover {
            color: #002D99;
        }



/** HEADER
 *********************************************/
#top {
}

    #top .inner {
        border-bottom: 5px solid black;
        overflow: hidden;
        zoom: 1;
    }

#logo {
    margin: 50px 0 12px;
    float: left;
}

    #logo img {
        display: block;
    }

#top nav {
    margin: 83px 0 10px;
    overflow: hidden;
}

    #top nav ul {
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
    }

        #top nav ul li {
            float: left;
            margin: 0 10px;
        }

            #top nav ul li a {
                font: bold 18px/20px 'Economica',sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                display: block;
            }


/** MAIN AREA
 *  (has two columns, home will override for different sizes)
 *********************************************/
.main {
    box-shadow: -4px 1px 6px -4px rgba(0, 0, 0, .4);
    background: url(images/bg-headings.jpg);
    background: rgba(255, 255, 255, .4);
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

    .main .columns {
        float: left;
        width: 200%;
        right: 100%;
        background: rgba(255, 255, 255, .7);
        box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
    }

        .main .columns .content-wrap {
            float: left;
            width: 50%;
            position: relative;
            left: 50%;
            padding-bottom: 15px;
        }

            .main .columns .content-wrap .content {
                margin: 0 0 0 310px;
                overflow: hidden;
            }

.content .inner {
    padding: 0 30px;
}

.main .columns .sidebar {
    float: right;
    width: 270px;
    position: relative;
    left: 290px;
}

article.content header {
    margin: 37px 0 35px;
    padding: 9px 30px;
    background: #002D99;
}

    article.content header h1 {
        margin: 0;
        color: #fff;
    }

        article.content header h1 a {
            color: #fff;
            font-weight: normal;
            text-decoration: none;
            -webkit-transition: none;
            -moz-transition: none;
            transition: none;
        }

            article.content header h1 a:hover {
                text-decoration: underline;
            }

        article.content header h1 span.sep {
            font-weight: normal;
        }


/** SIDEBAR
 *********************************************/
.main .sidebar {
    font-size: 12px;
    margin: 0;
    padding: 37px 0 0;
    list-style: none;
}

    .main .sidebar li {
        margin: 0 0 30px;
    }

.widget h3 {
    font-family: 'Neucha',cursive;
    font-weight: bold;
    color: #231F20;
    margin: 0 0 5px;
}

.widget a {
    text-decoration: none;
}

    .widget a:hover {
        text-decoration: underline;
    }

.widget .all {
    margin: -10px 0 5px;
}

    .widget .all a {
        font-size: 10px;
        text-transform: uppercase;
    }

.sidebar li.widget_search {
    padding-bottom: 3px;
    height: 28px;
}

    .sidebar li.widget_search form.search {
        position: relative;
        border: 1px solid #665E60;
    }

        .sidebar li.widget_search form.search input {
            background: #F8EEDB;
            background: rgba(255,255,255,.4);
            box-shadow: none;
        }

            .sidebar li.widget_search form.search input:focus {
                background: #fff;
            }

        .sidebar li.widget_search form.search div {
            border-right: none;
        }

        .sidebar li.widget_search form.search button {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            padding: 0;
            height: 28px;
            width: 27px;
            background: none;
        }

            .sidebar li.widget_search form.search button span {
                padding: 26px 0 0;
                overflow: hidden;
                display: block;
                background: url(images/magglass.png) no-repeat 7px 7px;
            }

.sidebar li.widget_sbg_featured_artists .artists {
    padding: 0;
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

    .sidebar li.widget_sbg_featured_artists .artists li {
        float: left;
        margin: 0 10px 0 0;
    }

        .sidebar li.widget_sbg_featured_artists .artists li.last {
            margin: 0;
        }

        .sidebar li.widget_sbg_featured_artists .artists li img {
            display: block;
        }

.home .sidebar li.widget_sbg_featured_artists .artists li img {
    width: 110px;
    height: auto;
}

.sidebar li.widget_mnm_widget_facebooklikebox {
    margin-bottom: 20px;
}

/** FOOTER
 *********************************************/
#end {
}

    #end .inner {
        border-top: 5px solid black;
        padding: 30px 30px 10px;
        text-align: center;
        font-family: 'Neucha',cursive;
        text-transform: uppercase;
        color: #231F20;
        letter-spacing: 1px;
    }

    #end .hours {
        font: bold 18px/20px 'Economica',sans-serif;
        margin: 0 0 10px;
        letter-spacing: normal;
    }

    #end .copyright {
        margin-top: 25px;
        font-size: 11px;
        opacity: .5;
    }


.content .featured {
}

    .content .featured .aside {
        float: left;
        margin-right: 20px;
    }

    .content .featured .info {
        overflow: hidden;
        position: relative;
    }

        .content .featured .info .inner {
            padding: 0;
            width: 100%;
        }

        .content .featured .info .meta {
            color: #798988;
        }

        .content .featured .info p {
            margin-top: 0;
        }


/** Home Page
 *********************************************/
.home .columns {
    margin-left: -390px;
}

    .home .columns .content-wrap .content {
        margin-left: 390px;
    }

.home .content .inner {
    padding: 0 20px;
}

.home .columns .sidebar {
    width: 350px;
    left: 370px;
}

.home .fader,
.home .fader_wrap,
.home .fader_wrap ul,
.home .fader_wrap ul li {
    width: 600px;
    height: 456px;
    padding: 0;
    border: none;
    background: #231F20;
}

    .home .fader_wrap ul li img {
        margin: 0 auto;
        display: block;
        width: auto;
        height: auto;
    }

    .home .fader_wrap .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

        .home .fader_wrap .title span {
            display: block;
            padding: 17px 20px 7px;
            background: #231F20;
            color: #fff;
            font: normal 20px/20px 'Neucha',cursive;
            text-transform: uppercase;
        }


/** Contact
 *********************************************/
.contact .columns {
    background-image: url(images/bg-contact.png);
    background-repeat: no-repeat;
    background-position: 1333px bottom;
    min-height: 914px;
}

.contact .map a {
    font-size: 12px;
}


/** Artists & Events
 *********************************************/
.categories {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    letter-spacing: -4px;
}

    .categories li {
        display: inline;
        letter-spacing: normal;
        padding-right: 20px;
    }

        .categories li a {
            white-space: nowrap;
            display: inline-block;
        }

.featured {
    margin: 20px 0;
    overflow: hidden;
    zoom: 1;
}


/* =Listings of events, artists, and the like
 ------------------------------------------------------*/
.listing {
    overflow: hidden;
    zoom: 1;
    margin: 20px 0 40px;
    padding: 0;
    list-style: none;
}

    .listing li {
        float: left;
        overflow: hidden;
    }

        .listing li img {
            display: block;
        }

.gallery li img {
    width: auto;
    height: 84px;
    margin: 0 auto;
}

.listing li a {
    text-decoration: none;
    display: block;
}

    .listing li a .title,
    .listing li a .meta {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


.x5 {
    letter-spacing: -4px;
}

    .x5 li {
        margin: 0;
        background-color: #F8EFDD;
        float: none;
        display: inline;
    }

        .x5 li a {
            margin: 0 10px 10px 0;
            width: 116px;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            letter-spacing: normal;
        }

            .x5 li a .title {
                text-align: center;
                font-size: 10px;
                color: #798988;
                line-height: 10px;
                padding: 5px;
            }

.gallery li a .title {
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
}

.x2 {
}

    .x2 li {
        background: url(images/bg-headings.jpg);
        width: 298px;
        border-left: 2px solid #F37721;
        margin: 0 20px 20px 0;
    }

        .x2 li a {
            padding: 4px 5px 11px 93px;
            background-position: left center;
            background-repeat: no-repeat;
            text-transform: uppercase;
        }

            .x2 li a .title {
                font: bold 18px/25px 'Economica',sans-serif;
                color: #231F20;
            }

            .x2 li a:hover .title {
                color: #002D99;
            }

            .x2 li a .meta {
                font: normal 13px/20px 'Neucha',cursive;
                color: #63605A;
            }

        .x2 li:nth-of-type(2n),
        .x5 li:nth-of-type(5n) a {
            margin-right: 0;
        }

.listing li.last,
.listing li.last a {
    margin-right: 0;
}

.listing li.lastrow,
.listing li.lastrow a {
    margin-bottom: 0;
}



/**
 * Search
 ***********************************************/
ul.search li {
    float: none;
    border-bottom: 1px solid #F8EFDD;
}

    ul.search li h3 {
        margin-top: 0;
    }



________________ div#main {
    width: 830px;
    height: 650px;
    margin: 0 auto;
}

div#form {
    text-align: center;
    border: 1px solid #ccc;
    width: 50%;
    padding: 0 50px 15px;
    margin-top: 20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    float: left
}

    div#form > input.hub1 {
        float: left;
    }

#main h1 {
    margin-top: 40px
}

hr {
    margin-top: -5px
}

label {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 16px;
    clear: both;
}

input[type="text"].hub {
    width: 25%;
    margin-top: 10px;
    height: 10px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid black;
    vertical-align: center-left;
    align-content: center;
}

textarea {
    width: 90%;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 100px;
    resize: none;
    position: relative;
    right: 25px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 45px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
    right: 50px;
    bottom: 25px;
}

/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */
div#fugo {
    float: right
}

.no {
    float: right;
}

.yes {
    margin-left: 10px;
    padding-left: 10px;
}

input:focus, select:focus, textarea:focus {
    background: rgb(220, 255, 220) url(mc_go.png) right no-repeat;
}
    /*style for invalid input*/
    input:focus:invalid {
        background: rgb(255, 232, 233) url(mc_stop.png) right no-repeat;
    }

div.formRow {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 7px 0px;
}

label {
    margin-right: 10px;
}

div#form input {
    position: flex;
    position: flex;
    vertical-align: center;
}

div.one {
    float: left;
    margin-right: 150px;
    clear: left;
}


div#form > input.hub1 {
    position: absolute;
    vertical-align: center-left;
}

div.formRow > input.hub1 {
    position: relative;
    left: 10px;
}

div.top label.hub {
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    color: red;
}

div.top label.hub1 {
    position: relative;
    color: red;
}

input.hub {
    margin-left: 100px;
    margin-top: 100px;
}

input.hub1 {
    margin-left: 20px
}

input.lname {
    margin-left: 10px;
    width: 25%;
    margin-top: 10px;
    height: 10px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid black;
    vertical-align: center-left;
    align-content: center;
}

label#AS {
    float: left;
}

label#SP {
    float: left;
}

.wrapper {
    width: 200px;
}

table {
    width: 100px;
}

td > input {
    width: 80px;
}

input#hub.a {
    width: 70%;
}

input#hub.a {
    width: 70%;
}

table.artinfo {
    position: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    margin-top: 50px;
}

table#dataTable {
    position: center;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    margin-top: 50px;
}

tbody.artinfo {
    position: center;
    color: #2A85C4;
    margin-top: 50px;
}

input.submit {
    margin-top: 100px;
}

input#user-submitted-button {
    width: 100%;
    height: 35px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
    right: 50px;
    bottom: 25px;
}

col.check {
}

tfoot {
    background-color: #cccccc;
}

th {
    text-align: left;
}

tr {
    text-align: left;
}

td.artRow {
    border: solid;
    word-spacing: 50px;
    padding: 10px 30px 5px 30px;
}

td.artRow {
    border: solid;
}

td > input {
    width: 125px;
    word-wrap: break-word;
    word-break: break-all;
}

label#AS {
    margin-left: 1px;
}

label#SP {
    margin-left: 1px;
}

select#ArtCat.hub {
    width: 200px;
    height: 30px;
}

input.lName {
    margin-left: 1%;
}

input.phone {
    margin-left: 30px;
}

input.email {
    margin-left: 37%;
}

input.state {
    margin-left: 43%;
}

h2#title {
}

#dataTable {
    margin-top: 0px;
}

#artisttable {
    margin-bottom: -50px;
}

input[type="checkbox"]#checkbox {
    width: 50%;
}

td#checkbox {
    border: solid;
}

/*#currencyinput {
    content: '$';
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}*/




#price::before {
    content: '$';/*com*/